<div id="push"></div>
<footer class="footer navbar-fixed-bottom">
	<div class="container-fluid">
		<nav>
			<ul>
				<li><%=link_to "About Us", "#"%></li>
				<li><%=link_to "Terms of uses", "#"%></li>
				<li><%=link_to "@copyright", "#"%></li>
				<li><%=link_to "Help", "#"%></li>
				<li><%=link_to "Contact Us", "#"%></li>
			</ul>
		</nav>
	</div>
</footer>